# Практическое задание № 2

## Задание:

* Шаг 1. Загрузить данные с файла расширения csv (adult.data.csv)
    - Изучить содержание признаков
    - Определить количествро строк, колонок
    
* Шаг 2. Провести очистку данных
    - Выполнить проверку на пустые значения
    - Определить типы данных 
    - Поиск дубликатов
    - Поиск аномалий   
* Шаг 3. С помощью библиотеки Pandas ответить на несколько вопросов по данным набора Adult по доходу населения, каждый объект которого содержит социальные характеристики некоторого человека (возраст, пол, профессиональная деятельность и т.п.): 
    - **1. Сколько неженатых граждан** (признак *relationship* = Unmarried) **представлено в этом наборе данных?**
    - **2. Каков средний возраст** (признак *age* ) **женщин** (признак *sex* = Female)), **которые зарабатывают много?** ( признак *salary* = >50K)
    - **3. Какое наибольшее количество часов человек работает в неделю?** (признак *hours-per-week*)
    - **4. Сколько граждан  много зарабатывают** (признак *salary* = >50K), **которые закончили 9 классов**?  (признак *education* = 9th)
    - **5. Посчитайте среднее время работы** (признак *hours-per-week*) **зарабатывающих мало и много** (признак *salary*).
* Шаг 4. Написать код для записи результатов в файл с разделителями (csv).
* Шаг 5. Опубликуйте файл расширения ipynb на платформу Odin.

# Уникальные значения признаков набора данных по доходу населения:

______________

Признак         | Описание | Значения
----------------|----------| -------------
age             | возраст | количественный 
workclass       | вид работы | <code>Private</code>, <code>Self-emp-not-inc</code>, <code>Self-emp-inc</code>, <code>Federal-gov</code>, <code>Local-gov</code>, <code>State-gov</code>, <code>Without-pay</code>, <code>Never-worked</code>
fnlwgt          | вес кейса | количественный
education       | уровень образования | <code>Bachelors</code>, <code>Some-college</code>, <code>11th</code>, <code>HS-grad</code>, <code>Prof-school</code>, <code>Assoc-acdm</code>, <code>Assoc-voc</code>, <code>9th</code>, <code>7th-8th</code>, <code>12th</code>, <code>Masters</code>, <code>1st-4th</code>, <code>10th</code>, <code>Doctorate</code>, <code>5th-6th</code>, <code>Preschool</code>
education-num   | код уровня образования | количественный
marital-status  | статус гражданина | <code>Married-civ-spouse</code>, <code>Divorced</code>, <code>Never-married</code>, <code>Separated</code>, <code>Widowed</code>, <code>Married-spouse-absent</code>, <code>Married-AF-spouse</code>
occupation      | род занятий | <code>Tech-support</code>, <code>Craft-repair</code>, <code>Other-service</code>, <code>Sales</code>, <code>Exec-managerial</code>, <code>Prof-specialty</code>, <code>Handlers-cleaners</code>, <code>Machine-op-inspct</code>, <code>Adm-clerical</code>, <code>Farming-fishing</code>, <code>Transport-moving</code>, <code>Priv-house-serv</code>, <code>Protective-serv</code>, <code>Armed-Forces</code>
relationship    | Состав семьи |  <code>Wife</code>, <code>Own-child</code>, <code>Husband</code>, <code>Not-in-family</code>, <code>Other-relative</code>, <code>Unmarried</code>
race            | расса |  <code>White</code>, <code>Asian-Pac-Islander</code>, <code>Amer-Indian-Eskimo</code>, <code>Other</code>, <code>Black</code>
sex             | пол |  <code>Female</code>, <code>Male</code>
capital-gain    | исключим из анализа |  количественный
capital-loss    | исключим из анализа |  количественный
hours-per-week  | количество часов в неделю |  количественный
native-country  | страна |  <code>United-States</code>, <code>Cambodia</code>, <code>England</code>, <code>Puerto-Rico</code>, <code>Canada</code>, <code>Germany</code>, <code>Outlying-US(Guam-USVI-etc)</code>, <code>India</code>, <code>Japan</code>, <code>Greece</code>, <code>South</code>, <code>China</code>, <code>Cuba</code>, <code>Iran</code>, <code>Honduras</code>, <code>Philippines</code>, <code>Italy</code>, <code>Poland</code>, <code>Jamaica</code>, <code>Vietnam</code>, <code>Mexico</code>, <code>Portugal</code>, <code>Ireland</code>, <code>France</code>, <code>Dominican-Republic</code>, <code>Laos</code>, <code>Ecuador</code>, <code>Taiwan</code>, <code>Haiti</code>, <code>Columbia</code>, <code>Hungary</code>, <code>Guatemala</code>, <code>Nicaragua</code>, <code>Scotland</code>, <code>Thailand</code>, <code>Yugoslavia</code>, <code>El-Salvador</code>, <code>Trinadad&amp;Tobago</code>, <code>Peru</code>, <code>Hong</code>, <code>Holand-Netherlands</code>
salary          | уровень дохода |  <code>&gt;50K</code>, <code>&lt;=50K</code>

In [1]:
import numpy as np
import pandas as pd
pd.set_option("display.precision", 1)

print (np.__version__)
print (pd.__version__)

1.20.1
1.2.4

In [2]:
CAT_OS = 'https://github.com/OlesiaAngel/DataAnalitics/blob/main/%D0%B4%D0%B0%D0%BD%D0%BD%D1%8B%D0%B5/'
df = pd.read_csv(CAT_OS+'adult.data.csv?raw=True')

In [3]:
#Изучить содержание признаков
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [11]:
#Определить количествро строк, колонок
df.shape

(32537, 15)

In [ ]:
#Шаг 2. Провести очистку данных

In [9]:
#Выполнить проверку на пустые значения
df.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
salary            0
dtype: int64

In [20]:
df.isna().sum()

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
salary            0
dtype: int64

In [12]:
#Определить типы данных
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32537 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32537 non-null  int64
 1   workclass       32537 non-null  object
 2   fnlwgt          32537 non-null  int64
 3   education       32537 non-null  object
 4   education-num   32537 non-null  int64
 5   marital-status  32537 non-null  object
 6   occupation      32537 non-null  object
 7   relationship    32537 non-null  object
 8   race            32537 non-null  object
 9   sex             32537 non-null  object
 10  capital-gain    32537 non-null  int64
 11  capital-loss    32537 non-null  int64
 12  hours-per-week  32537 non-null  int64
 13  native-country  32537 non-null  object
 14  salary          32537 non-null  object
dtypes: int64(6), object(9)
memory usage: 4.0+ MB

In [4]:
#Поиск дубликатов
df.duplicated().sum()

24

In [9]:
df.drop_duplicates(inplace = True)

In [10]:
df.duplicated().sum()

0

In [16]:
#Поиск аномалий 
#(аномалий по количественным показателям я не вижу, не поняла признак "fnlwgt", что означает вес кейса? 
#По заданию мы не смотрим прирост и убывание капитала, количество часов в неделю не выходит за рамки возможных, 
#нам не дали ограничений по времени работы человека, хотя 1 час и 99 часов вроде не типичный показатель. 
#Я не знаю пока, какие показатели могу включить в аномалии в этом случае. Далее я указала позиции, где неправильно проставлены признаки)
stats_df = df.describe()
stats_df

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,32537.0,3.3e+04,32537.0,32537.0,32537.0,32537.0
mean,38.6,1.9e+05,10.1,1078.4,87.4,40.4
std,13.6,1.1e+05,2.6,7388.0,403.1,12.3
min,17.0,1.2e+04,1.0,0.0,0.0,1.0
25%,28.0,1.2e+05,9.0,0.0,0.0,40.0
50%,37.0,1.8e+05,10.0,0.0,0.0,40.0
75%,48.0,2.4e+05,12.0,0.0,0.0,45.0
max,90.0,1.5e+06,16.0,99999.0,4356.0,99.0

In [20]:
df['workclass'].unique()

array(['State-gov', 'Self-emp-not-inc', 'Private', 'Federal-gov',
       'Local-gov', '?', 'Self-emp-inc', 'Without-pay', 'Never-worked'],
      dtype=object)

In [21]:
df[df['workclass'] == '?']  #не указан вид работы - 1836 строк

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
27,54,?,180211,Some-college,10,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,0,0,60,South,>50K
61,32,?,293936,7th-8th,4,Married-spouse-absent,?,Not-in-family,White,Male,0,0,40,?,<=50K
69,25,?,200681,Some-college,10,Never-married,?,Own-child,White,Male,0,0,40,United-States,<=50K
77,67,?,212759,10th,6,Married-civ-spouse,?,Husband,White,Male,0,0,2,United-States,<=50K
106,17,?,304873,10th,6,Never-married,?,Own-child,White,Female,34095,0,32,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32530,35,?,320084,Bachelors,13,Married-civ-spouse,?,Wife,White,Female,0,0,55,United-States,>50K
32531,30,?,33811,Bachelors,13,Never-married,?,Not-in-family,Asian-Pac-Islander,Female,0,0,99,United-States,<=50K
32539,71,?,287372,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,0,0,10,United-States,>50K
32541,41,?,202822,HS-grad,9,Separated,?,Not-in-family,Black,Female,0,0,32,United-States,<=50K
32542,72,?,129912,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,25,United-States,<=50K

In [23]:
df['occupation'].unique()

array(['Adm-clerical', 'Exec-managerial', 'Handlers-cleaners',
       'Prof-specialty', 'Other-service', 'Sales', 'Craft-repair',
       'Transport-moving', 'Farming-fishing', 'Machine-op-inspct',
       'Tech-support', '?', 'Protective-serv', 'Armed-Forces',
       'Priv-house-serv'], dtype=object)

In [42]:
ms = df['occupation'].unique()

In [43]:
sorted(ms) #проверила на повтор с разным написанием наименований

['?',
 'Adm-clerical',
 'Armed-Forces',
 'Craft-repair',
 'Exec-managerial',
 'Farming-fishing',
 'Handlers-cleaners',
 'Machine-op-inspct',
 'Other-service',
 'Priv-house-serv',
 'Prof-specialty',
 'Protective-serv',
 'Sales',
 'Tech-support',
 'Transport-moving']

In [25]:
df[df['occupation'] == '?'] #не указан род занятий 1843 строки

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
27,54,?,180211,Some-college,10,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,0,0,60,South,>50K
61,32,?,293936,7th-8th,4,Married-spouse-absent,?,Not-in-family,White,Male,0,0,40,?,<=50K
69,25,?,200681,Some-college,10,Never-married,?,Own-child,White,Male,0,0,40,United-States,<=50K
77,67,?,212759,10th,6,Married-civ-spouse,?,Husband,White,Male,0,0,2,United-States,<=50K
106,17,?,304873,10th,6,Never-married,?,Own-child,White,Female,34095,0,32,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32530,35,?,320084,Bachelors,13,Married-civ-spouse,?,Wife,White,Female,0,0,55,United-States,>50K
32531,30,?,33811,Bachelors,13,Never-married,?,Not-in-family,Asian-Pac-Islander,Female,0,0,99,United-States,<=50K
32539,71,?,287372,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,0,0,10,United-States,>50K
32541,41,?,202822,HS-grad,9,Separated,?,Not-in-family,Black,Female,0,0,32,United-States,<=50K
32542,72,?,129912,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,25,United-States,<=50K

In [24]:
df['marital-status'].unique()

array(['Never-married', 'Married-civ-spouse', 'Divorced',
       'Married-spouse-absent', 'Separated', 'Married-AF-spouse',
       'Widowed'], dtype=object)

In [27]:
df['relationship'].unique()

array(['Not-in-family', 'Husband', 'Wife', 'Own-child', 'Unmarried',
       'Other-relative'], dtype=object)

In [28]:
df['race'].unique()

array(['White', 'Black', 'Asian-Pac-Islander', 'Amer-Indian-Eskimo',
       'Other'], dtype=object)

In [29]:
df['sex'].unique()

array(['Male', 'Female'], dtype=object)

In [38]:
df['native-country'].unique()

array(['United-States', 'Cuba', 'Jamaica', 'India', '?', 'Mexico',
       'South', 'Puerto-Rico', 'Honduras', 'England', 'Canada', 'Germany',
       'Iran', 'Philippines', 'Italy', 'Poland', 'Columbia', 'Cambodia',
       'Thailand', 'Ecuador', 'Laos', 'Taiwan', 'Haiti', 'Portugal',
       'Dominican-Republic', 'El-Salvador', 'France', 'Guatemala',
       'China', 'Japan', 'Yugoslavia', 'Peru',
       'Outlying-US(Guam-USVI-etc)', 'Scotland', 'Trinadad&Tobago',
       'Greece', 'Nicaragua', 'Vietnam', 'Hong', 'Ireland', 'Hungary',
       'Holand-Netherlands'], dtype=object)

In [39]:
mas = df['native-country'].unique()

In [40]:
sorted(mas) #проверила на разное написание наименований одних и тех же стран

['?',
 'Cambodia',
 'Canada',
 'China',
 'Columbia',
 'Cuba',
 'Dominican-Republic',
 'Ecuador',
 'El-Salvador',
 'England',
 'France',
 'Germany',
 'Greece',
 'Guatemala',
 'Haiti',
 'Holand-Netherlands',
 'Honduras',
 'Hong',
 'Hungary',
 'India',
 'Iran',
 'Ireland',
 'Italy',
 'Jamaica',
 'Japan',
 'Laos',
 'Mexico',
 'Nicaragua',
 'Outlying-US(Guam-USVI-etc)',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Puerto-Rico',
 'Scotland',
 'South',
 'Taiwan',
 'Thailand',
 'Trinadad&Tobago',
 'United-States',
 'Vietnam',
 'Yugoslavia']

In [31]:
df[df['native-country'] == '?'] #не указали страну 582 строки

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
14,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,?,>50K
38,31,Private,84154,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,0,0,38,?,>50K
51,18,Private,226956,HS-grad,9,Never-married,Other-service,Own-child,White,Female,0,0,30,?,<=50K
61,32,?,293936,7th-8th,4,Married-spouse-absent,?,Not-in-family,White,Male,0,0,40,?,<=50K
93,30,Private,117747,HS-grad,9,Married-civ-spouse,Sales,Wife,Asian-Pac-Islander,Female,0,1573,35,?,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32449,44,Self-emp-inc,71556,Masters,14,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,?,>50K
32469,58,Self-emp-inc,181974,Doctorate,16,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,99,?,<=50K
32492,42,Self-emp-not-inc,217597,HS-grad,9,Divorced,Sales,Own-child,White,Male,0,0,50,?,<=50K
32510,39,Private,107302,HS-grad,9,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,45,?,>50K
32525,81,?,120478,Assoc-voc,11,Divorced,?,Unmarried,White,Female,0,0,1,?,<=50K

In [15]:
#Шаг 3. С помощью библиотеки Pandas ответить на несколько вопросов по данным набора Adult по доходу населения, 
#каждый объект которого содержит социальные характеристики некоторого человека:
#Сколько неженатых граждан (признак relationship = Unmarried) представлено в этом наборе данных?
df[df['relationship'] =='Unmarried'].relationship.count()

3446

In [17]:
#Каков средний возраст (признак age ) женщин (признак sex = Female)), которые зарабатывают много? ( признак salary = >50K)
df_women = df[['sex','salary','age']]

In [55]:
df_women['salary'].unique()

array(['<=50K', '>50K'], dtype=object)

In [49]:
df_women[(df_women['sex'] == 'Female') & (df_women['salary'] == ('>50K'))].age.mean()

42.125530110262936

In [50]:
df_women[(df_women['sex'] == 'Female') & (df_women['salary'] == ('>50K'))].age.sum() / df_women[(df_women['sex'] == 'Female') & (df_women['salary'] == ('>50K'))].age.count()

42.125530110262936

In [51]:
#Какое наибольшее количество часов человек работает в неделю? (признак hours-per-week)
df['hours-per-week'].max()

99

In [54]:
df['hours-per-week'].reset_index().sort_values('hours-per-week', ascending = False)

       index  hours-per-week
8654    8654              99
15460  15460              99
935      935              99
26250  26250              99
16992  16992              99
...      ...             ...
22960  22960               1
9147    9147               1
29752  29752               1
5590    5590               1
32525  32525               1

[32561 rows x 2 columns]

In [ ]:
# Сколько граждан много зарабатывают (признак salary = >50K), которые закончили 9 классов? (признак education = 9th)

In [56]:
df['education'].unique()

array(['Bachelors', 'HS-grad', '11th', 'Masters', '9th', 'Some-college',
       'Assoc-acdm', 'Assoc-voc', '7th-8th', 'Doctorate', 'Prof-school',
       '5th-6th', '10th', '1st-4th', 'Preschool', '12th'], dtype=object)

In [58]:
df[(df['salary'] == '>50K') & (df['education'] == '9th')].salary.count()

27

In [66]:
#Посчитайте среднее время работы (признак hours-per-week) зарабатывающих мало и много (признак salary).
#зарабатывают мало
df[df['salary'] == '<=50K']['hours-per-week'].mean()

38.840210355987054

In [65]:
#зарабатывают много
df[df['salary'] == '>50K']['hours-per-week'].mean()

45.473026399693914

In [44]:
df.to_csv('GrigorevaEV_written_file.csv',sep = ',')